# Maven
target/
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log
*.out

# Operating system files
.DS_Store
Thumbs.db

# Credentials
src/main/resources/credentials.json
/src/main/resources/application.properties
/src/main/resources/application-docker.properties
/HELP.md
